{% extends 'signup/base.html' %}

{% block main %}
 <div>
 <h1 class="text-center">Signup for draft !</h1>

<style>
  .form-signin {
    max-width: 550px;
    padding: 15px;
    margin: 0 auto;
  }    
</style>

 <div class="container text-center">
    <form class="form-registration" id="registration_form" method="post" action="/signup/register/">
      {% csrf_token %}
      <br>
      <input type="text" name="Player Name" class="form-control" placeholder="Enter your name..." value="" required autofocus>
      <br>
      <br>Select a draft date:<br>
      <input type="date" name="bday" min="2017-06-01"><br><br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up !</button>
    </form>
</div>

{% endblock %}